*{
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.menuCover{
margin-left: 80px;
}
#logo{
width: 100px;
height: 100px;
border-radius: 100%;
}
nav{
    background-color: rgb(12, 12, 86);
    width: 100%;
    position: fixed;
}
nav ul{
    float: right;
    margin-right: 100px;
    margin-top: 20px;
    flex-direction: column;
}
nav ul li{
    display: inline;
    line-height: 65px;
    margin: 0 15px;
    font-size: 20px;
}
nav ul li a{
color: white;
}
nav ul li .h{
    color: lightgrey;
    }
#prayer{
    margin-top: 200px;
    margin-left: 80px;
}
.homeBody{
    display: flex;
    flex-wrap: wrap;
}
.homeBody div{
    margin: auto;
}
.swiper{
    text-align: center;
}
.swiper-slide{
    position: relative;
}
#title{
    font-family: algerian;
}
.pra{
    font-size: 18px;
}
.conc{
    width: 100%;
    height: 8em;
    text-align: center;
    background-color: rgb(12, 12, 86);
    color: white;
}
.swiper-button-prev{
    color:transparent;
}
.container{
    position: absolute;
    top: 50%;
    transform: translate(50%);
    bottom: -50px;
}
.btn{
  display: inline-block;
  height: 15px;  
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  background: lightblue;
  cursor: pointer;
}
/*contact page*/
#input{
border-top: none;
border-left: none;
border-right: none;
width: 400px;
}
#textarea{
    height: 200px;
    width: 400px;
}
.contactDiv{
    position: relative;

}
.swipper{
  text-align: center;
  margin-top: 4em;  
}
#titleC{
    font-family: algerian;
    margin-top: 6em;
}
/*give page*/
#giveBody{
    background-size: cover;
    height: 50em;
    width: 100%;
    text-align: center;
    background-color:white;
}
.imgGive{
    height: 30em;
    width: 60%;    
}
.column {
    float: left;
    width: 10%;
    height: 10%;
  }
  .column {
    float: left;
    width: 10%;
    height: 10%;
    padding: 0 21em;
  }
  /* Clear floats after the columns */
  .row{
    height: 10em;
    margin-top: -13em;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .phone{
    height: 8em;
    width: 10em;
    margin-top: -1.5em;
  }
  .visa{
    height: 7em;
    width: 7em;
  }